.App{
    height:100vh ;
    display: flex;
    /*gap: 15px;*/
    /*flex-wrap: wrap;*/
    flex-direction: column;
    /*background: linear-gradient(to right, #24335c 0%,#24335c 28%,#24335c 29%,#24335c 29%,#24335c 30%,#000000 30%,#131313 100%);*/
}